---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";

const { title = "블로그" } = Astro.props;
const blogName = "WHITEPAEK 블로그";
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:type" content="website" />
    <meta property="og:title" content={blogName} />
    <meta property="og:description" content={title ?? blogName} />
    <meta property="og:image" content={new URL("og-image.png", Astro.site)} />
    <meta property="og:url" content={Astro.url.href} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href={new URL("sitemap-index.xml", Astro.site)} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={blogName}
      href={new URL("rss.xml", Astro.site)}
    />

    <title>{title} | WHITEPAEK</title>

    <ClientRouter />
  </head>
  <body class="flex min-h-screen flex-col">
    <slot />
  </body>
</html>
